@import 'https://fonts.googleapis.com/css?family=PT+Sans';
*{
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;
}
#content{
    margin: 0 auto;
    width: 90%;;
}

#headerContent {
    width: 100%;
    height: 100px;
    background: #fff;
}

.authBlock {
    float: right;
    color: #66cccc;
    margin: 10px;
    background: #fff;
}
.photoBox {
    width: 200px;
    background: #bbb;
    float: left;
    margin: 20px;
}

.photoBoxImage {
    width: 200px;
    height: 200px;       
}

.photoBoxDescr {
    height: 100px;
    background: #fff;
    overflow: hidden;
    color: #66cccc;
    padding: 5px;
}

#footer {
    clear: both;
}

.coverPictureAuthor {
    position:relative;
    top: 10px;
    left: 10px;
    color: #FFF;
    font-size: 20px;
}
.shadow{
    box-shadow: 0px 5px 15px 1px #000000;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#mainPicture {
    background: url("../images/cover.jpg") no-repeat center;
    height: 500px;
    background-position: center;
}

input [type="text"] {
   border: 1px solid #cccccc; //цвет рамки
   border-radius: 10px; //закругление углов (общее)
   -webkit-border-radius: 10px; //закругление углов (Google Chrome)
   -moz-border-radius: 10px; //закругление углов (FireFox)
   -khtml-border-radius: 10px; //закругление углов (Safari)
   background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
   outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
   height: 27px !important; // высота на свое усмотрение
   width: 100px !important; // ширина на свое усмотрение
   color: #cccccc; //цвет шрифта в обычном состоянии
   font-size: 20px; // Размер шрифта
}

input[type="text"]:focus {
  color: #000000;
  border: 1px solid #000000
}
.loginInput {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.authInputs {
    margin-left: 0;
    height: 30px;
}
.lblLogin {
    background-image: url("../images/glyphicons-4-user.png") no-repeat center;
}

.border {
    border: 1px solid #cccccc;
}

.authIcon {
    width: 30px;
    height: 30px;
    float: left;
    background: url("../images/glyphicons-4-user.png") no-repeat center;
}
form span {
    float: left;
}
form input[type="submit"] {
    float: right;
}